<!doctype html>
<html class="is-loading" lang="en" data-page="home">
<head>
    <meta charset="utf-8">
    <title>o6c.ca example</title>
    <meta name="description" content="Only 6 characters - URL Shortener Service">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            text-align:center;
            font-family:Verdana,arial
        }
    </style>
</head>
<body>
    <div>
        <h1>o6c.ca example</h1>
        <h2>Only 6 Characters</h2>
    </div>
    <br>
    <div>
        URL Shortener service, by <a href="https://locomotive.ca">Locomotive, a Montreal Web Agency</a>.
    </div>
    <br>
    <div>
        <small><a href="https://github.com/locomotivemtl/o6c">Github</a></small>
    </div>
</body>
</html>