<!doctype html>
<html class="is-loading" lang="en" data-page="home">
<head>
    <meta charset="utf-8">
    <title>s6l.ca</title>
    <meta name="description" content="Only 6 characters - URL Shortener Service">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            text-align:center;
            font-family:Verdana,arial
        }
    </style>
</head>
<body>
    <div>
        <h1>s6l.ca</h1>
        <h2>Seulement 6 lettres</h2>
    </div>
    <br>
    <div>
        Un service de <em>URL Shortener</em>, par <a href="https://locomotive.ca">Locomotive, une agence Web de Montréal</a>.
    </div>
</body>
</html>